html, body, nav {
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  position: relative;
}
@font-face {
  font-family: "Segoe_UI";
  src: url("fonts/Segoe UI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Segoe_UI_Bold";
  src: url("fonts/Segoe UI Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
h1{
  font-family: "Segoe_UI_Bold";
  font-weight: bold;
  font-size: 5em;
  margin: 0;
  padding: 0;
}
h2{
  font-family: "Segoe_UI_Bold";
  font-weight: bold;
  font-size: 1.4em;
  margin: 0 0 40px 0;
  padding: 0;
  letter-spacing: 4px;
}
h3{
  font-family: "Segoe_UI_Bold";
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0 40px 0;
  padding: 0;
}
a {
  font-family: "Segoe_UI_Bold";
  font-weight: bold;
  color: black;
  text-decoration: none;
}
p{
  font-family: "Segoe_UI";
}
button{
  font-family: "Segoe_UI_Bold";
  font-weight: bold;
  font-size: 0.9em;
  border: none;
  text-align: center;
  padding: 1.1em 2em;
  border-radius: 4px;
  background: #E51978;
  transition: .2s;
  letter-spacing: .2em;
  color: white;
}
button:hover{
   cursor: pointer;
   background: #be095d;
}
img{
  display: block;
  width: 100%;
}
/*--SIDE BAR--*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;
  text-align:center;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: .3s;
  font-weight: bold;
}
.sidenav a:hover{
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*--NAVIGATION BAR--*/

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  background-color: #FFFEFC;
  box-shadow: 0px 10px 20px -20px black;
  transition: top .3s;
}
.nav_group{
  display: inline-flex;
  justify-content: flex-end;
  margin: 0 .6em;
  height: 100%;
}
.nav_center {
  padding: 20px 0;
}
#burger{
  display: none;
}
#nav_burger_center{
  padding: 17px 0;
  margin-left: 2vw;
  width: 30px;
}
#nav_burger_center:hover{
  cursor: pointer;
}
#nav_logo_center{
  padding: 14px 0;
  margin: 0 2vw;
  width: 90px;
}
#links a{
  margin: 0 1vw;
  width: 20px;
}
#menus .nav_center {
  font-weight: bold;
  font-size: 0.9em;
  margin:0 2vw;
  position: relative;
}
#menus .nav_center:hover {
  color: #E51978;
}
#menus .nav_center::before {
  content: "";
  transition: all 0.3s;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 4px;
  background-color: #E51978;
}
#menus .nav_center:hover::before {
  right: 0;
  left: 0;
}
#menus .nav_center:hover .dropdown_content{
  display: block;
}
.dropdown_content {
  display: none;
  position: absolute;
  top: 60px;
  z-index: 2;
}
.dropdown_content_group{
  float: left;
  padding: 12px 10px;
  font-size: 0.9em;
  white-space: nowrap;
  width: 100%;
  background: #FFFEFC;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown_content_group:hover{
  background: #f2f2f2;
}
#Accueil{
  color: #E51978;
}
#nav_search_center {
  padding: 11px 0;
  margin-right: 2vw;
}
input[type=search] {
  font-size: 0.9em;
  -webkit-box-sizing: content-box;
  -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
  background: white url("pictures/glass.png") no-repeat 10px center;
  -webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
  border: solid 1px #ccc;
	padding: 9px 5px 9px 29px;
  width: 0px;
  cursor: pointer;
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
input[type=search]:focus{
  width: 90px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

/*--TITLE--*/

.slideshow-container{
  padding: 200px 5vw 380px 5vw;
}
#leftcontainer{
  float: left;
  width: 45%;
  text-align: right;
}
#rightcontainer{
  float: right;
  width: 45%;
  padding-top: 35px;
}
#rightcontainer p{
  font-size: 1.2em;
  margin: 0 0 40px 0;
}

/*--SECTIONS--*/

.sect{
  width: 100%;
}
#sectionA{
  background-color: #FFFEFC;
  padding: 50px 0;
  box-shadow: inset 0 10px 20px -20px black;
}
#sectionB{
  background-color: white;
  padding: 50px 0;
  box-shadow: inset 0 10px 20px -20px black;
}
.bloc p{
  font-size: 1.1em;
  margin-bottom: 30px;
  color: #7F7F7F;
}
#doublecolonne{
  float: left;
  padding: 50px 10vw 30px 10vw;
}
#column_left, #column_right{
  width: 50%;
}
#column_left{
  float: left;
}
#column_right{
  float: right;
}
#defil{
  padding: 20px 10vw 30px 10vw;
  columns: 2;
}
.bloc{
  padding: 0 2.5vw;
}
#titre{
  padding: 50px 12.5vw 0 12.5vw;
}
#solobutton{
  text-align: center;
  padding: 30px 0;
  left: 50%;
}
#solobutton2{
  text-align: left;
  padding: 70px 0;
}


/*--NEWSFEED--*/

#newsfeed {
  padding: 100px 5vw;
  background-color: #FFFEFC;
  box-shadow: inset 0 10px 20px -20px black;
  text-align: center;
  position: relative;
}
#newsfeed p{
  font-size: .8em;
  color: black;
}
#Une{
  text-align: left;
  padding-left: 7.5vw;
}
.box {
  display: inline-block;
  width: 20%;
  margin: 2.3%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px 2px lightgrey;
  transition: .3s;
}
.box:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.bandeau{
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.bandeaubox{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 12px;
}
.bandeaubox img{
  width: 30px;
}
#newsfeed .date{
  color: grey;
  font-size: .7em;
}
.bandeauboxlogo{
  margin-right: 8px;
}
.photo{
  padding: 0 10px;
}
.actu{
  padding: 10px;
  text-align: left;
}
.actu p{
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#filtre{
  position:absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  background-color:black;
  opacity: .7;
  z-index:3;
  display: none;
}
#zoom{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  display: none;
  width: 80%;
  background-color: white;
  padding: 2% 2% 4% 2%;
}
.zoompadding{
  position: relative;
}
#photozoom, #textzoom{
  width: 47%;
}
#photozoom{
  float: left;
  margin-right: 2.5%;
}
#imgzoom{
  border: solid lightgrey 1px ;
}
#textzoom{
  float: right;
  margin-left: 2.5%;
}
#actutextzoom{
  padding: 0 20px;
}
.bandeauboxzoom{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2em;
}
.bandeauboxlogozoom{
  margin-right: 18px;
}
.bandeauboxzoom img{
  width: 40px;
}
.bandeauboxzoom #date{
  color: grey;
  font-size: .7em;
}
.actuzoom{
  text-align: left;
  font-size: 1.4em;
  padding-top: 20px;
}
#viewinsta{
  margin-top: 4vw;
  width: 250px;
  height: 50px;
}
#cross{
  height: 15px;
  width: 100%;
  padding-bottom: 5px;
}
#crossbtn{
  float: right;
  width: 10px;
}
#crossbtn:hover{
  cursor: pointer;
}

/*--NETWORK--*/

#network{
  width: 100%;
  background-color: white;
  padding: 80px 0;
  box-shadow: inset 0 10px 20px -20px black;
}
#reseaux{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0 15px 0;
}
#logoreseaux{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}
.logoreseaux_group{
  margin: 0 3vw;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  padding: 10px;
  transition: .3s;
  background-color: #FFFEFC;
  box-shadow: 2px 4px 8px 0 grey;
  text-align: center;
}
.logoreseaux_group:hover{
  transform: scale(1.2);
}

/*--FOOTER--*/

footer{
  position: relative;
  background-color: #FFFEFC;
  padding: 40px 0 10px 0px;
  width: 100%;
  box-shadow: inset 0px 10px 20px -20px black;
}
#return{
  position: absolute;
  width: 35px;
  top: 35px;
  right: 30px;
}
.bas{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  font-size: .8em;
}
#mentions a{
  margin: 0 1vw;
}
#Copyright a{
  font-family: "Segoe_UI";
}
.foo_submenus{
  margin: 20px 0;
}
.foo_submenus a{
  display: block;
  font-family: "Segoe_UI";
}
#plansite{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 2vw;
  flex-wrap: wrap;
}
.planbloc{
  margin: 0 2vw;
  font-size: .8em;
  font-weight: bold;
}

/*--RESPONSIVE--*/

@media screen and (max-width: 1530px) {
  #links{
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  #menus{
    display: none;
  }
  #burger{
    display: inline-flex;
  }
  .container .box {
    width: 30%;
    margin: 1%;
  }
}
@media screen and (max-width: 1000px) {
  #column_left, #column_right{
    width: 100%;
  }
  #column_left{
    margin-bottom: 80px;
  }
  #solobutton{
    padding-bottom: 60px;
  }
  #defil{
    columns: 1;
  }
  #solobutton2{
    text-align: center;
  }
  #newsfeed .box {
    width: 40%;
    margin: 4%;
  }
  #zoom #textzoom{
    width: 100%;
    padding-top: 10px;
  }
  #zoom #photozoom{
    width: 100%;
    text-align: center;
  }
  .slideshow-container #rightcontainer, .slideshow-container #leftcontainer{
    width: 100%;
    margin: 0;
    float: left;
    text-align: center;
  }
  .slideshow-container{
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 700px) {
  #newsfeed .box {
    width: 90%;
    margin: 4%;
  }
}
@media screen and (max-width: 470px) {
  #search{
    display: none;
  }
  .slideshow-container #maintitle{
    font-size: 4em;
  }
  h2{
    font-size: 1.1em;
    letter-spacing: 2px;
  }
  h3{
    font-size: 1.4em;
  }
  .sect p{
    font-size: 1em;
  }
}
@media screen and (max-width: 380px) {
  .slideshow-container #maintitle{
    font-size: 3em;
  }
  #return{
    display: none;
  }
}
